.task_container {
  border-radius: 5px;
  border: none;
  background-color: cornflowerblue;
  margin-top: 5px;
}

ul {
  padding-inline-start: 0px;
}

.task_heading {
  width: 100%;
  display: flex;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  justify-content: space-between;
}

.myTask_container {
  border-radius: 10px;
  background-color: rgba(100, 148, 237, 0.377);
  width: 70%;
}

.goal_deadline {
  display: flex;
  justify-content: space-between;
}

.allTasks {
  justify-items: center;
}
