@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.task_container {
  border-radius: 10px;
  border: none;
  background-color: #44546c;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  justify-content: center;
}
.steps_button {
  display: flex;
  justify-content: space-between;
  width: 260px;
}
.myTask_heading {
  display: flex;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  min-width: 300px;
  height: 40px;
  margin-top: 15px;
  justify-self: center;
  justify-content: space-between;
}

.task_heading {
  display: grid;
  width: 300px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}

.taskButton {
  background: #ff5c61;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  color: white;
  width: 67px;
  height: 31px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;
}

.add_task_button {
  background: #ff5c61;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  align-items: center;
  justify-content: center;
  width: 67px;
  height: 31px;
}

.myTask_container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin: 0px;
  background-color: #293547;
  border-radius: 10px;
  width: 340px;
  min-height: 175px;
}
ul {
  padding-inline-start: 0px;
}
.stepsComplete {
  padding-left: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.goal_deadline {
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  width: 280px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.allTasks {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  width: 280px;
  justify-self: center;
}

.steps {
  align-items: center;
  list-style-type: none;
}
.steps_ul {
  display: grid;
}

.stepsButton {
  background: transparent;
  border: none;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.modal_container {
  background: transparent;
  border-radius: 10px;
}

.modal_body {
  background: #293547;
  color: white;
  border: none;
}
.modal_header {
  background: #293547;
  color: white;
  border: none;
}

.footer {
  background: #293547;
  color: white;
  border: none;
}

.modal_input {
  background: transparent;
  color: white;
  border: none;
}

.noTasks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noTasks_text {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}
