@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.task_container {
  border-radius: 10px;
  border: none;
  background-color: #44546c;
  margin-top: 10px;
  color: white;
}
.steps_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}
.myTask_heading {
  display: flex;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  width: 340px;
  padding-top: 5px;
  justify-content: space-between;
}

.task_heading {
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.taskButton {
  background: #ff5c61;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  color: white;
  width: 67px;
  height: 31px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  justify-content: center;
}

.myTask_container {
  border-radius: 10px;
  margin: 0px;
  background-color: #293547;
  border-radius: 10px;
  width: 340px;
}
ul {
  padding-inline-start: 0px;
}
.stepsComplete {
  padding-left: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.goal_deadline {
  padding-top: 5px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  width: 280px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.allTasks {
  margin-top: 5px;
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  width: 280px;
}

.steps {
  display: flex;
  align-items: center;
}

.stepsButton {
  background: transparent;
  border: none;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  display: flex;
  justify-self: flex-start;
}
