@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.row_user_logo {
  display: flex;
  justify-content: center;
}

.heading {
  width: 100%;
  height: auto;
  position: absolute;
  top: 25%;
}
