@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.row_user_logo {
  justify-content: center;
}

.heading {
  display: block;
  justify-items: center;
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 25%;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
}

.heading_logo {
  width: 90%;
}
