@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.HomePage_Container {
  justify-content: center;
}

.TaskPage_Container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.row_user_logo {
  display: flex;
  justify-content: center;
}

.heading {
  display: block;
  justify-items: center;
  width: 90%;
  height: 400px;
  position: absolute;
  top: 25%;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.heading_logo {
  width: 90%;
}
